$sp: 990px;
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

.c-img {
  position: relative;

  &__about {
    width: 100%;

    @include sp {
        width: 80%;
      }
    }

  &__animation {
    width: 100px;
  }
}
