$sp: 990px;
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

.p-animationBar {
  width: 100%;
  overflow: hidden;
  padding: 100px 0;

  @include sp {
      padding: 25px 0 75px 0;
    }
}
